/* 📱 MOBILE Nav Bar */


/* MOBILE HEro section */

@media (max-width: 768px) {
  .slide {
    flex-direction: column;
    text-align: center;
  }

  .slide img {
    width: 250px;
    margin-top: 20px;
  }

  .slide-content h1 {
    font-size: 32px;
  }
}