/* 📱 MOBILE Nav Bar */

@media (max-width:768px){

/* show hamburger */
.hamburger{
display:block;
}

/* hide menu by default */
.nav-menu{

position:absolute;
top:70px;
left:0;

width:100%;
background:white;

flex-direction:column;
align-items:center;

gap:20px;
padding:20px 0;

/* hidden initially */
transform:translateY(-200%);
transition:0.3s;

}

/* when active (clicked) */
.nav-menu.active{
transform:translateY(0);
}

/* dropdown fix for mobile */
.dropdown-menu{

position:static;
opacity:1;
visibility:visible;
transform:none;

display:none; /* hidden until clicked */

}

/* show dropdown when active */
.dropdown.active .dropdown-menu{
display:block;
}

/* make icons smaller spacing */
.nav-icons{
gap:12px;
}

}

/* MOBILE HEro section */

@media (max-width: 768px) {
  .slide {
    flex-direction: column;
    text-align: center;
  }

  .slide img {
    width: 250px;
    margin-top: 20px;
  }

  .slide-content h1 {
    font-size: 32px;
  }
}